<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKSharingSupported</key>
	<true/>
	<key>JWT_SECRET</key>
	<string>$(JWT_SECRET)</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>MovingBox will notify you on important dates such as warranty or insurance expirations</string>
	<key>REVENUE_CAT_API_KEY</key>
	<string>$(REVENUE_CAT_API_KEY)</string>
	<key>TELEMETRY_DECK_APP_ID</key>
	<string>$(TELEMETRY_DECK_APP_ID)</string>
	<key>SENTRY_DSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>AIPROXY_DEVICE_CHECK_BYPASS</key>
	<string>$(AIPROXY_DEVICE_CHECK_BYPASS)</string>
	<key>WISHKIT_API_KEY</key>
	<string>$(WISHKIT_API_KEY)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.com.mothersound.movingbox</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
		<string>CloudDocuments</string>
	</array>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>iCloud.com.mothersound.movingbox</string>
	</array>
</dict>
</plist>
